@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');
:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --darkblue: #00ADEE;
  --lightblue: #B1DEF7;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
blockquote{
  font-size: 1.4rem;
  font-weight: bold;
}
blockquote p{
  font-style: italic;
}
blockquote p:last-child{
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
}
h1,h2,h3{
  font-family: 'Roboto Slab', system-ui, sans-serif;
  color: var(--darkblue);
  font-weight: 500; /*bold;*/
}
h2{
  margin-top: 3em;
  position: relative;
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
li {
  line-height: 1.45;
}
main {
  padding: 1rem;
  margin: 0 auto;
  max-width: 42rem;
}
main :first-child {
  margin-top: 0;
}
header {
  /* border-bottom: 1px dashed var(--lightgray); */
  display:flex;
  flex-wrap: wrap;
  position:relative;
  background-color: var(--lightblue);
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  width: auto;
  display:flex;
  align-items:center;

  padding: 0rem 1rem; /* 16px /16 */
  margin: 0;
  font-size: 1.4em; /* 16px /16 */
  font-weight:bold;
  background-color: var(--darkblue);
  color:#fff;
}
.home a{
  color: #fff;
}
.home a[href]{
  color: #fff;
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  flex: 1;
  flex-direction: row;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}
.cover-img{
  display:block;
  position:relative;
}
.cover-img img{
  width: auto;
  display: block;
  max-height: 400px;
  margin: 0 auto;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item{
  display:flex;
  margin: 1rem 0; 
  padding: 0;
}
.postlist-item .title{
  flex: 1;
}
.postlist-item .postlist-number{
  width: 5rem;
  display:block;
  padding: 0.5rem 0;
  color: var(--darkblue);
  font-weight: bold;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" /* counter(start-from, decimal-leading-zero) ". "*/;
  line-height: 100%;
  text-align: right;
}
.postlist-number,
.postlist-date,
.postlist-item:before {
  font-size: 0.9125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: normal;
  text-decoration:none;
}


/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--darkblue);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
.tag:first-child{
  margin-left: 0;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Maxime */
.maxime {
  background-color: var(--lightblue);
  padding: 2.5em 2em;
}

/* Infobox */
.info {
  background-color: rgb(201, 225, 245);
  padding: 2.5em 2em;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 2.5em 2em;
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
  position: absolute;
  left: -2rem;
  top: 0;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
