---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Tafeln
  order: 2
---

<h1>Rekonstruktionstafeln</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
