---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>Tafel {{ number }}: {{ title }}</h1>

{% for tag in tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}

{{ content | safe }}


{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}

<p>{% if previousPost %}Vorherige Tafel {{ previousPost.data.number }}: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}</p>

<p>{% if nextPost %}Nächste Tafel {{ nextPost.data.number }}: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}</p>


<p><a href="{{ '/' | url }}">← Home</a></p>
